*{
    background-color: #264653;
    font-family: 'Raleway', sans-serif;
    color: white;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  text-align: center;
  
}

#content h1{
    color:#2a9d8f;
}

button{
    padding: 16px 32px;
    background-color: #264653; 
    color: #2a9d8f; 
    border: 2px solid #2a9d8f;
    border-radius: 12px;
}

button:hover{
    background-color: #2a9d8f;
    color:#264653;
}

.avatar{
    width: 250px;
    height: 250px;
}

#About h2, h3{
    color:#e9c46a;
}

#About a{
    color:#e9c46a;
    text-decoration: underline;
}

#Work h2{
    color:#f4a261;
}

#Work a{
    color:#f4a261;
    text-decoration: underline;
}

#facts-container {
  margin-top: 20px;
}

/*
gallery images
*/

#gallery{
  font-family: 'Raleway', sans-serif;

}
.together img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.together {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*
contact section
*/

#contact h2{
    color: #e76f51;
}

.input{
    width: 80%;
    border: 2px solid #e76f51; 
    font-size: 14px;
    margin-bottom: 15px;
    padding:5px;
    outline: none;
    height: 35px;
}

#message{
    height: 60px;
}

#submitButton{
    width: 20%;
    border-radius: 10px;
}

#submitButton:hover{
    color:#264653;
    background-color: #e76f51;
}